name: Copilot Setup Steps
on: workflow_dispatch

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    timeout-minutes: 59
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
          experimental: true

      - name: Run checks
        run: mise run check --all
        continue-on-error: true
      - name: Run fix
        run: mise run fix --all
        continue-on-error: true
