name: Fix
on: workflow_dispatch

permissions:
  actions: write

jobs:
  fix:
    name: Fix
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
          experimental: true

      - name: Run check
        run: mise run fix --all

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "Apply 'mise run fix --all'"
          push: true
